/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* Variables & Helpers
-------------------------------------------------- */

@import "fonts.less";

@c1: #fff;
@c2: rgba(20, 67, 20, 100);
@c3: #ccc;

@mp-s: 10px;
@mp-m: 20px;
@mp-l: 40px;

@fs-s: 15px;
@fs-m: 28px;

@lh-s: 18px;
@lh-m: 36px;

@lbTransitionLength: 0.25s;

@fontStack: "Times New Roman", "Times", 'Helvetica Neue', 'Helvetica', Arial, serif;

.fs-m {
    font-size: @fs-m;
}
.fs-s {
    font-size: @fs-s;
}

.lh-m {
     line-height: @lh-m;
}
.lh-s {
    line-height: @lh-s;
}

button:focus {
    outline: none;
}

em {
    font-style: italic;
}

.italic {
    font-style: italic;
}

.text {
  user-select: text; 
  .fs-m;
  .lh-m;
}

.opentype {

}

.pointer {
  cursor: pointer!important;
}

/* Site
-------------------------------------------------- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  .text;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; 
}

p {
  padding: 0 0 0 0;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
  font-size: 18px;
}

/* Custom
-------------------------------------------------- */
.fade-transition {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.fade-enter, .fade-leave {
  opacity: 0;
  visibility: hidden;
}

#img_wrapper {
  width: 100%;
  // width: calc(~"100% - 20px");
  padding: @mp-s;
  height: 100%;
  position: fixed;
  div {
    height: 100%;
    // padding: @mp-s;
    width: 100%;
    text-align: center;
    img {
      height: 100%;
      width: auto;
      display: inline-block;
      user-select: none; 
    }
    .small {
      height: 30%;
    }
    .medium {
      height: 60%;
    }
  }
}

.control_prev {
  width: 50%;
  height: 100%;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
}

.control_next {
  width: 50%;
  height: 100%;
  float: left;
  position: fixed;
  left: 50%;
  top: 0;
}




/* Helpers
-------------------------------------------------- */



/* Animations
-------------------------------------------------- */


/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (max-width: 500px) {
  
}
