/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* Variables & Helpers
-------------------------------------------------- */

@import "fonts.less";

@c1: #fff;
@c2: rgba(20, 67, 20, 100);
@c3: #000;

@mp-s: 10px;
@mp-m: 20px;
@mp-l: 40px;

@fs-s: 12px;
@fs-m: 28px;

@lh-s: 18px;
@lh-m: 36px;

@lbTransitionLength: 0.25s;

@fontStack: "VictorRonnie-UprightiKerned", 'Helvetica Neue', 'Helvetica', Arial, serif;

.fs-m {
    font-size: @fs-m;
}
.fs-s {
    font-size: @fs-s;
}

.lh-m {
     line-height: @lh-m;
}
.lh-s {
    line-height: @lh-s;
}

button:focus {
    outline: none;
}

em {
    font-style: italic;
}

.italic {
    font-style: italic;
}

.text {
  user-select: text; 
  font-family: @fontStack;
  .fs-s;
  .lh-s;
  color: @c3;
}

.opentype {

}

.pointer {
  cursor: pointer!important;
}

/* Site
-------------------------------------------------- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  .text;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; 
}

p {
  padding: 0 0 0 0;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
  font-size: 18px;
}

/* Custom
-------------------------------------------------- */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s
}
.fade-enter, 
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

#img_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

.img_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.img_slide_inner {
  height: 100vh;
  width: 100vw;
  left: 0;
  user-select: none; 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.img_slide_inner_2 {
  height: 100vh;
  width: 100vw;
  left: 0;
  user-select: none; 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 90;
  position: fixed;
}
.small {
  margin: 35vh 0;
  height: 30vh;
}
.medium {
  margin: 20vh 0;
  height: 60vh;
}
.full {
  background-size: cover;
}
.left {
  width: 50%;
  left: 0;
}
.right {
  width: 50%;
  left: 50%;
}
.center {
  width: 100%;
  left: 0;
}

.control_prev {
  width: 50%;
  height: 100%;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99
}

.control_next {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99
}

.img_slide {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#popup {
  display: none;
  position: fixed;
  z-index: 95;
  margin: @mp-s;
  // text-shadow: 0 0 5px #fff;
}




/* Helpers
-------------------------------------------------- */



/* Animations
-------------------------------------------------- */


/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (max-width: 500px) {
  
}
