/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* Variables & Helpers
-------------------------------------------------- */

@import "fonts.less";

@c1: #fff;
@c2: rgba(2, 10, 10, 1);

@mp-s: 10px;
@mp-m: 20px;
@mp-l: 40px;

@fs-s: 14px;
@lh-s: 16px;

@fontStack: 'Word', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
@fontStack2: 'Word-Lining', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

.fs-s {
    font-size: @fs-s;
}

.lh-s {
    line-height: @lh-s;
}

button:focus {
    outline: none;
}

em {
    font-style: italic;
}

.italic {
    font-style: italic;
}

.lining {
  font-family: @fontStack2;
}

.text {
  font-family: @fontStack;
  .fs-s;
  .lh-s;
  color: @c2;
}

.transfilter {
  transition: filter 0s;
  transform: translate3d(0,0,0);
}

.transopacity {
  transition: opacity 0s;
}

.transbackground {
  transition: background-color 0s;
}

.pointer {
  cursor: pointer!important;
}

.mixit {
  // background: rgba(200,200,200,1);
  // mix-blend-mode: difference;
}

/* Site
-------------------------------------------------- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  .text;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; 
  .lining;
}

p {
  padding: 0 0 0 0;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

/* Custom
-------------------------------------------------- */

#intro_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 95;
  .mixit;
  .pointer;
}

#title_wrapper {
  position: fixed;
  left:0;
  top: 0; 
  padding: @mp-s;
  margin: 0;
  z-index: 99;
  user-select: none;
  .lining;
  .caption {
    display: block;
    // position: fixed;
    // left: 50%;
    // top: @mp-s;
    // padding-left: @mp-m;
  }
  // font-family: "BPdotsVertical-Bold";
}

#title_wrapper_pseudo {
  color: transparent;
}

#img_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

.img_wrapper_inner {
  width: 100%;
  height: 100%;
  .transfilter;
}

.img_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  .transbackground;
}

.img_slide {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.img_slide_inner {
  // height:  calc(~"100% - 20px");
  // width:  calc(~"100% - 20px");
  // margin: @mp-s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  user-select: none; 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  // z-index: 1;
}

.img_slide_inner_2 {
  // height:  calc(~"100% - 20px");
  // width:  calc(~"100% - 20px");
  // margin: @mp-s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  user-select: none; 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  // z-index: 2;
}

.full {
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.small {
  width: 75vw;
  height: 75vh;
  margin: 12.5vh 12.5vw;
}

.left {
  width:  50vw;
  margin-left: 0;
}

.right {
  width:  50vw;
  margin-left: 50vw;
}

.left.small {
  width: 37.5vw;
  height: 75vh;
  margin: 12.5vh 6.25vw 12.5vh 6.25vw;
}

.right.small {
  width: 37.5vw;
  height: 75vh;
  margin: 12.5vh 6.25vw 12.5vh 56.25vw;
}

// .left.small {
//   width: 29vw;
//   height: 100vh;
//   margin: 0vh 14vw 0vh 14vw;
// }

// .right.small {
//   width: 29vw;
//   height: 100vh;
//   margin: 0vh 14vw 15vh 57vw;
// }

.control_next {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 101;
}

#popup {
  position: fixed;
  z-index: 95;
  margin: @mp-s;
  .transopacity;
  user-select: none;
}

.info_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: @mp-s;
  overflow-y: auto;
  // background: transparent;
}

.info_background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  .mixit;
}

.info_contact {
  padding-top: 26px;
}

.info_adress {
  padding: 0 0 @mp-s 0;
}

.info_represent {
  padding: 0 0 @mp-s 0;
}

.info_imprint {
  max-width: 750px;
  span {
    display: block;
  }
  p:nth-child(1) {
    margin: 0 0 @mp-s 0
  }
  p:last-child {
    margin: @mp-s 0 0 0
  }
}

.info_imprint_inner {
  .transopacity;
}




/* Helpers
-------------------------------------------------- */

.hidden {
  display: none;
}

.opacityzero {
  opacity: 0;
  pointer-events: none;
}

.blur {
  filter: blur(30px);
  // transform: scale(1.1)
  transform: scale(4);
}

.noclick {
  pointer-events: none;
}

/* Animations
-------------------------------------------------- */


/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (max-width: 500px) {
  
}
